# copypasted

<div class="center">
    <h1> The Calculator</h1>
    
    <form action="result">
        <input type="number" name="number1" placeholder="Enter first number">
        <br>
        <br> 
        <input type="number" name="number2" placeholder="Enter second number">
        <br>
        <br>
        <button type="submit" name="add">Add</button>
        <button type="submit" name="subtract">Subtract</button>
        <button type="submit" name="multiply">Multiply</button>
        <button type="submit" name="divide">Divide</button>
        <button type="submit" name="average">Average</button>
        <button type="submit" name="alldata">Alldata</button>
    
    </form>
    </div>
    
    <style>
      .center {
        margin: auto;
        width: 60%;
        border: 4px solid #f357bf;
        padding: 10px;
      }
    </style>